.appleLogo {
  height: 1rem;
}

.navLink.navCta:link,
.navLink.navCta:visited {
  max-width: 200px;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  color: #fff;
  background-color: #000;
}

.navLink.navCta:hover,
.navLink.navCta:active {
  background-color: #868e96;
}
